* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #07111f;
    color: white;
}

header {
    padding: 20px 7%;
    display: flex;
    justify-content: space-between;
    background: #0d1b2e;
    border-bottom: 1px solid #24415f;
}

header span {
    color: #38e88b;
}

main {
    max-width: 1150px;
    margin: auto;
    padding: 30px 20px;
}

.hero {
    padding: 70px 20px;
    text-align: center;
}

.hero small {
    color: #38e88b;
    letter-spacing: 2px;
}

.hero h1 {
    font-size: 50px;
    margin: 20px 0;
}

.hero b {
    color: #4da6ff;
}

.hero p {
    color: #aebfd1;
    font-size: 18px;
}

.panel {
    background: #0d1d31;
    border: 1px solid #24415f;
    border-radius: 16px;
    padding: 28px;
    margin: 25px 0;
}

.panel h2 {
    margin-bottom: 20px;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
}

label {
    color: #b9c9d9;
    font-size: 14px;
}

input,
select {
    width: 100%;
    margin-top: 8px;
    padding: 13px;
    border-radius: 8px;
    border: 1px solid #365675;
    background: #081525;
    color: white;
}

button {
    margin-top: 25px;
    padding: 14px 22px;
    border: none;
    border-radius: 9px;
    background: #1683ff;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #3c9bff;
}

.secondary {
    background: #34465b;
    margin-left: 10px;
}

.agents {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.agents div {
    padding: 18px;
    background: #12263e;
    border-radius: 10px;
    border: 1px solid #294965;
}

.agents b {
    display: block;
    margin-top: 8px;
    color: #889caf;
}

.active {
    border-color: #38e88b !important;
}

.active b {
    color: #38e88b;
}

.result {
    background: #12263e;
    padding: 18px;
    margin: 10px 0;
    border-radius: 10px;
    border-left: 4px solid #1683ff;
}

.success {
    color: #38e88b;
}

.warning {
    color: #ffbf4a;
}

footer {
    text-align: center;
    padding: 40px;
    color: #71849a;
}

@media(max-width: 800px) {
    .form-grid,
    .agents {
        grid-template-columns: 1fr;
    }

    .hero h1 {
        font-size: 36px;
    }
}